---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
import { Heading, Link, Notification } from 'accessible-astro-components';
import ContentMedia from '@components/ContentMedia.astro';
import { Icon } from 'astro-icon/components'

import eggHuntPoster from '../assets/img/egg-hunt-poster.webp';
import eggHuntPosterVP from '../assets/img/egg-hunt-poster-vp.webp';
import eggHuntZoneMap from '../assets/img/egg-hunt-zonemap.webp';

const PUBLIC_GMAPS_URL = import.meta.env.PUBLIC_GMAPS_URL;
---

<DefaultLayout title="Easter Egg Hunts">
  <PageHeader title="Easter Egg Hunts" subtitle="Information about the Easter Egg Hunts." bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <ContentMedia imgSrc={eggHuntPoster.src} reverseImg={false}>
      <Heading level="h2">Easter Egg Hunt</Heading>
      <p class="text-lg">
        The Manheim Lions Club hosts an annual Easter Egg Hunt for children in the Manheim area. The event is free and is open to ages 0-12. The hunt takes place at the Manheim Veterans Memorial Park and Elden Rettew Field. Keep an eye out on our calendar, home page and social media for updates on dates! The hunt starts at 1:00 PM.
      </p>
    </ContentMedia>
    <ContentMedia imgSrc={eggHuntPosterVP.src} reverseImg={true}>
      <Heading level="h2">Easter Egg Hunt for the Visually Impaired</Heading>
      <p class="text-lg">
        The Manheim Lions Club also hosts an annual Easter Egg Hunt for the visually impaired in the area. The event is free and is open to all ages. The hunt takes place at the Elden Rettew Field using specially designed eggs that can be found using sound. It is a 1-1 (volunteer - hunter) event to ensure safety. Keep an eye out on our calendar, home page and social media for updates on dates! The hunt runs from 10:00 AM - 11:00 AM.
      </p>
    </ContentMedia>
  </section>
  <section class="container my-16">
    <div
      class="justify-center items-center my-16 flex flex-col"
    >
      <Heading class="my-8" level="h2">Information Zone</Heading>
      <iframe
        src={PUBLIC_GMAPS_URL}
        width="800"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        aria-label="Google Maps view of the location of the hunt. 350 Memorial Drive. Manheim, PA 17545"
      />
    </div>
    <div
      class="justify-center items-center my-16 flex flex-col"
    >
      <Heading class="my-8" level="h3">Nearby Parking Locations</Heading>
     <ul class="list-disc list-inside text-lg">
        <li>Memorial Dr (2x parking lots)</li>
        <li>N Laurel St (on street parking)</li>
        <li>E Adele Ave (on street parking)</li>
        <li>White Oak Rd (Parking Lot behind M&T Truck)</li>
      </ul>
    </div>
    <div
      class="justify-center items-center my-16 flex flex-col"
    >
      <Heading class="my-8" level="h3">Age Groups - Zone Information</Heading>
      <ContentMedia imgSrc={eggHuntZoneMap.src} reverseImg={false}>
        <p class="text-lg">
          The hunt area is divided into zones based on age groups to ensure safety and fairness. Please refer to the zone map for age group locations.
        </p>
        <p>Start times are staggered by age group:
          <ul class="ml-8 text-lg list-disc flex flex-col gap-4 my-8">
            <li><strong>Ages 0-3:</strong> 1:00 PM</li>
            <li><strong>Ages 4-6:</strong> 1:07 PM</li>
            <li><strong>Ages 7-9:</strong> 1:14 PM</li>
            <li><strong>Ages 10-12:</strong> 1:24 PM</li>
          </ul>
        </p>
      </ContentMedia>

    <div
      class="my-16 flex flex-col"
    >
      <Heading class="my-8 justify-center text-center" level="h3">Prize Information</Heading>
      <ul class="text-lg list-disc flex flex-col gap-4">
        <li><strong>Attention Adults!</strong> When you enter the stadium, before heading to the hunt zones, you will get raffle tickets. At the end of the hunt please come back to the stadium to the raffle table in front of the main bleachers. Winning tickets will be posted by 1:00 PM!</li>
        <li>Each age group will have winning tickets, located in eggs, that can be redeemed for prizes after the hunt has concluded.</li>
      </ul>

      <div class="my-16">
        <Heading class="my-8 justify-center text-center" level="h3">Visually Impaired Egg Hunt</Heading>
        <p>
          The visually impaired hunt uses special eggs that chirp making it possible to find them by sound. Each hunter gets paired up with a volunteer to ensure safety and assistance. Each egg will be exchanged for candy after the hunt has concluded. The hunt is drop in between 10:00 AM - 11:00 AM on the same day as the main hunt. Thanks to <Link href="https://www.alexsguardian.net" target="_blank">Alex's Guardian</Link> for donating the eggs! The eggs are open source and can be found <Link href="https://github.com/DougTomanio/beeping-easter-egg" target="_blank">here</Link> if interested.
        </p>
        <br class="my-4"/>
      <Notification type="info">
        <Icon aria-hidden="true" name="lucide:info" size={24} />
        <p>A signup form will be made available closer to the event date for those interested in participating in the visually impaired hunt.</p>
      </Notification>
      </div>
  </section>
</DefaultLayout>
